<% layout('layouts/boilerplate')%>
<div class="row">
    <div class="col-6 offset-3">
        <div class="alert alert-primary" role="alert">
            <h4 class="alert-heading">Welcome to LUMS Discussion Forum</h4>
            <p>Sign in or sign up to continue</p>
            <hr>
            <p class="mb-0">
                <a href="/auth/signin" class="btn btn-primary">Sign in</a>
                <a href="/auth/signup" class="btn btn-primary">Sign up</a>
            </p>
        </div>
    </div>
</div>
